{% extends "app/base.html" %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome {{request.user.username |capfirst}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-primary">Change Password Done</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Password Changed Successfully !!!</h3>
            <div>
                <div class="tenor-gif-embed" data-postid="17542131" data-share-method="host" data-aspect-ratio="1" data-width="60%" ><a href="https://tenor.com/view/check-mark-button-joypixels-correct-right-accurate-gif-17542131">Check Mark Button Joypixels Sticker</a>from <a href="https://tenor.com/search/check+mark+button-stickers">Check Mark Button Stickers</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}