{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Reset Password Completed!!</h3>
            <hr>
            <div>
                <div class="tenor-gif-embed" data-postid="17542131" data-share-method="host" data-aspect-ratio="1" data-width="60%" ><a href="https://tenor.com/view/check-mark-button-joypixels-correct-right-accurate-gif-17542131">Check Mark Button Joypixels Sticker</a>from <a href="https://tenor.com/search/check+mark+button-stickers">Check Mark Button Stickers</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}